{% extends "layout.html" %}
{% block title %} Change Password {% endblock %}
{% block main %} 
<main class="container py-5 text-center">
    <form action="/changepass" method="post">
        <div class="mb-1">
            <p class="Error">{{error}}</p>
        </div>
        <div class="mb-3">
            <label class="m-2" for="Username">Enter the new password :</label>
            <input class="form-control mx-auto w-auto" type="password" name="newpass" placeholder="New Password ..." autocomplete="off" id="Username" autofocus>
        </div>
        <div class="mb-3">
            <label class="m-2" for="Confirmation"> Confirm the Password :</label>
            <input class="form-control mx-auto w-auto" type="password" name="confirmation" placeholder="New Password Confirmation ..." id="Confirmation">
        </div>
        <button class="btn btn-primary" type="submit">Change The Password</button>
</main>
{% endblock %}